@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --tile-length: 100px;

  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transition: all 0.25s ease-out;
}

.overlay--show {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 20;
  transition: top 0.25s ease-out;
  padding: 20px 24px;
  width: 400px;
}

.modal--out {
  top: -50%;
}

.modal--in {
  top: 50%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.modal__error {
  color: red;
  font-size: 12px;
  margin-top: 0;
}

.modal__close {
  background: none;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 12px;
  margin-right: -12px;
  transition: background-color 0.15s ease-out;
  border-radius: 80%;
}

.modal__close:hover {
  background-color: #F2F2F2;
}

.modal__title {
  font-weight: 500;
  margin: 0;
}

.modal__input_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}

.modal__input_group > label {
  font-size: 14px;
}

.modal__button {
  font-size: 14px;
  padding: 8px 16px;
}

#custom-puzzle {
  font-size: 16px;
  padding: 8px;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.layout {
  margin: 0 auto;
  width: 720px;
  align-items: center;
}

.layout__flex {
  display: flex;
  gap: 48px;
}

.layout__board {
  flex: 1;
}

.board__wrapper {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.board {
  display: grid;
  margin: 0 auto;
  padding: 16px;
  background-color: saddlebrown;
  outline: 3px solid black;
}

.board__tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--tile-length);
  width: var(--tile-length);
  font-size: 3.5rem;
  outline: 3px solid black;
}

.board__tile--number {
  background-color: palegoldenrod;
  font-weight: 500;
}

.board__tile--blank {
  background-color: gray;
}

.controls {
  flex: 1;
  margin-top: 84px;
}

.controls__dropdown--algorithm {
  margin-bottom: 20px;
}

.controls__dropdown > select {
  font-size: 16px;
  padding: 8px;
  width: 100%;
  margin-top: 4px;
}

.controls__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 36px;
}

.controls__button {
  font-size: 16px;
  width: 100px;
  padding: 8px 0;
}

.controls__button:not(:disabled) {
  cursor: pointer;
}

.stats {
  font-size: 20px;
}

.stats__heading {
  font-weight: 500;
}
